<html><body><div id="sect1" class="container">  
    
    <div class="imgdiv">  
               
            <!-- <img src= "https://img.freepik.com/free-photo/close-up-doctor-with-stethoscope_23-2149191355.jpg?size=626&ext=jpg&ga=GA1.1.1379381765.1675359011" class="img1"> 
             <img src="https://img.freepik.com/free-photo/doctor-practicing-with-her-stethoscope_1232-398.jpg?size=626&ext=jpg&ga=GA1.1.1379381765.1675359011" class="img1">
             <img src="https://img.freepik.com/free-vector/flat-hand-drawn-patient-taking-medical-examination_52683-57830.jpg?size=626&ext=jpg&ga=GA1.1.1379381765.1675359011" class="img1">
             <img src="https://lh3.googleusercontent.com/ir2-W48gf2uIorNfXw4UDmK1mbq0g79vqe-3JVz9urSlhKQjBT58o57ENqtZ71MovujW10qrVe-mhpiic_Dsrg=w320" class="img2"> -->
            <img src="assets/Images/HC.jpg"  class="img1" >  
            <img src="https://img.freepik.com/free-photo/doctor-practicing-with-her-stethoscope_1232-398.jpg?size=626&ext=jpg&ga=GA1.1.1379381765.1675359011" class="img1">
             <img src="https://img.freepik.com/free-vector/flat-hand-drawn-patient-taking-medical-examination_52683-57830.jpg?size=626&ext=jpg&ga=GA1.1.1379381765.1675359011" class="img1">
             <img src="https://lh3.googleusercontent.com/ir2-W48gf2uIorNfXw4UDmK1mbq0g79vqe-3JVz9urSlhKQjBT58o57ENqtZ71MovujW10qrVe-mhpiic_Dsrg=w320" class="img2">
                
                            </div> </div></body>  </html>
